.dashboard-container {
  overflow-x: auto;
  min-width: 900px;
  padding: 30px 60px 0 50px;
  width: 100%;
  background-color: #ebf1f8;
  @include flex-column;
}

.dashboard-title {
  // margin-bottom: 15px;
  margin-bottom: 5px;
  color: #333;
  text-align: left;
  font-weight: bold;
  font-size: 36px;
  font-family: PingFangSC-Semibold, PingFang SC;
  line-height: 50px;
}

.dashboard-model {
  width: 50%;
}

.dashboard {
  flex-wrap: wrap;
  width: 100%;
}

.el-col {
  margin-top: 10px;
}

.dashboard-statistic {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 35px;
  height: 110px;
  background: #fff;
  min-width: 290px;
}

.dashboard-statistic {
  text-align: right;

  div:first-child {
    color: #333;
    font-size: 36px;
    font-weight: bold;
    line-height: 50px;
    margin-bottom: 12px;
  }

  div:last-child {
    color: #333;
    font-size: 20px;
    line-height: 28px;
  }
}

.dashboard-list {
  margin-top: 40px;
  text-align: left;
  font-size: 28px;
  line-height: 40px;
  color: #333;
  font-weight: bold;
}

.list {
  display: flex;
  align-items: flex-start;
  align-content: flex-start;
  flex-wrap: wrap;
  height: 600px;
  margin: 15px 0 20px 0;
}

.list-content {
  background: #fff;
  min-width: 239px;
  border-radius: 1px;
  margin: 0 10px 10px 0;
  height: 150px;
  text-align: left;
  padding: 16px 20px;

  div:first-child {
    margin-bottom: 10px;
    color: #333;
    font-size: 24px;
    line-height: 33px;
  }

  div:nth-child(2) {
    color: #666;
    font-size: 18px;
    line-height: 25px;
  }

  &.contents {
    width: 14%;
  }

  &.content {
    width: 17%;
  }
}

.el-pagination.is-background /deep/ .el-pager li:not(.disabled).active {
  background: #f27c36;
}

.el-pagination {
  text-align: right;
  margin-bottom: 20px;
}

.tips,
.tip {
  height: 50px;
  font-size: 18px;
  line-height: 25px;
  color: #fff;
  border-radius: 5px;
  margin: 20px 0 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.tips {
  background: #366ba5;
}

.tip {
  background: #f27c36;
}
