.management-container {
  height: 100%;
  // background-color: #fff;
  @include flex-column;
  align-items: center;
  justify-content: flex-start;
  position: relative;
  padding: 25px 40px 30px;
  font-family: "PingFangSC-Regular", "PingFang SC";
  font-weight: 400;
}

.header-item {
  margin-right: 50px;
  float: left;
  font-size: 28px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  line-height: 50px;
}

.header {
  width: 100%;
}

.user {
  width: 100%;
  @include flex-row;
  justify-content: flex-start;
  align-items: center;
  margin: 18px 0 70px;
}

.user-pic img {
  @include set-size(150px);
  border-radius: 50%;
  vertical-align: top;
}

.user-information {
  margin: 0 100px 0 30px;
  @include flex-column;
  justify-content: center;
  align-items: flex-start;
}

.user-gender {
  margin: 5px 0 30px;
  font-size: 16px;
  color: rgba(102, 102, 102, 1);
  // line-height: 25px;
}

.user-name {
  font-size: 26px;
  color: rgba(51, 51, 51, 1);
  // line-height: 40px;
}

.login-time {
  font-size: 12px;
  color: rgba(153, 153, 153, 1);
  line-height: 20px;
}

.reset-btn {
  @include set-size(188px, 60px);
  margin-top: 45px;
  background: rgba(54, 107, 165, 1);
  border-radius: 5px;
  font-size: 18px;
  color: rgba(255, 255, 255, 1);
  line-height: 60px;
  cursor: pointer;
}

.operation {
  width: 100%;
  @include flex-column;
  justify-content: flex-start;
  align-items: flex-start;
}
.operation-title {
  font-size: 26px;
  font-weight: 600;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}

.search {
  @include flex-row;
  justify-content: flex-start;
  align-items: center;

  /deep/.el-input {
    @include set-size(600px, 60px);
    margin-right: 10px;
    input {
      @include set-size(600px, 60px);
      padding-left: 60px;
    }
    .el-input__prefix {
      transform: scale(1.5);
      left: 28px;
    }
  }
}

.search-btn {
  @include set-size(120px, 60px);
  background: rgba(54, 107, 165, 1);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 60px;
  cursor: pointer;
}

.operation-area {
  width: 100%;
  @include flex-row;
  justify-content: space-between;
  align-items: center;
  margin: 30px 0;
}

.add-btn {
  @include set-size(280px, 60px);
  @include flex-row;
  justify-content: center;
  align-items: center;
  background: rgba(242, 124, 54, 1);
  border-radius: 5px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(255, 255, 255, 1);
  line-height: 60px;
  cursor: pointer;

  svg {
    @include set-size(20px);
    margin-right: 10px;
  }
}

.preserve {
  background-color: rgba(242, 124, 54, 1);
  color: rgba(255, 255, 255, 1);
}
.assign-data {
  padding: 0 80px;
  box-sizing: border-box;
  /deep/.el-input {
    width: 400px;
    // margin-right: 10px;
  }
}

/deep/.el-dialog__header {
  padding-top: 50px;
}

/deep/.el-dialog__title {
  margin-top: 50px;
  font-size: 28px;
  font-weight: 400;
  color: rgba(51, 51, 51, 1);
  line-height: 40px;
}
